<h2>Add a new post</h2>    
    <form action="{{ path('_new_post') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
            <table id="blog-form">
                <tr><td>{{ form_label(form.Name, 'Your name') }}</td><td>{{ form_widget(form.Name) }} {{ form_errors(form.Name) }}</td></tr>
                <tr><td>{{ form_label(form.Comment, 'Message') }}</td><td>{{ form_widget(form.Comment) }} {{ form_errors(form.Comment) }}</td></tr>
                <tr><td>{{ form_label(form.Category, 'Category') }}</td><td>{{ form_widget(form.Category) }} {{ form_errors(form.Category) }}</td></tr>
            </table>
        {{ form_rest(form) }}
        <input type="Submit" />
    </form>